*{
    margin: 0;
}
.App{
    background-color: #fafafa;
    height: 100%;
}
.app__header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid lightgrey;
    display: flex;
    width: 98vw;
    align-items: center;
    justify-content: space-between;
}

.app__headerImage{
    width: 100px;
    padding: 10px;
}
.signup-box{
    background-color: #fff;
}
.signup-box center{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.none{
    display: none;
}
h3{
    text-align: center;
}